h2{
    margin-left: 10vw;
    margin-right: 10vw;
    font-weight: lighter;
}

.ticks-container{
    margin-left: 10vw !important;
}

.done-button{
    margin-top: 20px;
}

.form-check-input:checked{
    background-color: blueviolet !important;
    border-color: blueviolet !important;
}

.form-check-input:focus{
    box-shadow: none !important;
    color: blueviolet;
}

.form-check-input{
    margin-top: 3px !important;
}

.form-container{
    width: auto !important;
    border-bottom: 2px solid #5e2b97;
    padding-bottom: 10px;
    margin-left: 10vw !important;
    margin-right: 10vw !important;
}

.btn-primary{
    background-color: #5e2b97 !important;
    border-color: #5e2b97 !important;
}

.btn-primary:focus{
    box-shadow: none !important;
}

.btn-primary:hover{
    background-color: blueviolet !important;
}

.btn-primary:active, .btn-primary:focus{
    box-shadow: 0px 0px 1px 3px rgb(165, 115, 211) !important;
}

.dropdown-item:active{
    background-color: #5e2b97 !important;
    color: white !important;
}

.material-symbols-outlined{
    background: transparent;
    padding-top: 3px;
}

.like-button-inactive{
    background-color: whitesmoke !important;
    color: #5e2b97 !important;
}

.like-button-inactive:hover, .left-button:hover{
    color: white !important;
}

.like-button-inactive:active{
    box-shadow: 0px 0px 1px 3px rgb(165, 115, 211) !important;
}

.left-button{
    background-color: whitesmoke !important;
    color: #5e2b97 !important;
    margin-right: 10px;
    height: 25px !important;
    padding-top: 0px !important;
}

.right-button{
    height: 25px !important;
    padding-top: 0px !important;
}

.arrow{
    padding: 0px;
}

.error{
    margin-left: 10vw;
    font-size: 25px;
    color: red;
    font-weight: bold;
}

.error-icon{
    position: relative;
    top: 3px;
    margin-right: 6px;
}