.course-card{
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 220px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.course-card:hover{
    background-color: #ece6f3;
    cursor: pointer;
}

.top-row-container{
    background: transparent;
    padding: 0 !important;
    margin: 0;
}

.top-row{
    background: transparent;
}

.col{
    background: transparent;
}

.module-name{
    background: transparent;
    font-size: 23px;
    position: relative;
    bottom: 10px;
}

.score{
    text-align: start;
    margin-left: 0.5vw;
    background: transparent;
    font-size: 16px;
    font-weight: bolder;
}

.lp{
    text-align: end;
    margin-right: 0.5vw;
    background: transparent;
    font-size: 16px;
    font-weight: bolder;
}

.recommendations-container{
    margin-left: 5vw !important;
    width: 90% !important;
}


.home-button-recommendations{
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
}

.fa-solid{
    color:whitesmoke;
    background: transparent;
}

.top-button-row {
    margin-top: 10px;
}

.recommendations-h1{
    border-bottom: 2px solid #5e2b97;
    margin-top: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.all-courses{
    margin-top: 50px !important;
}

.recommendations-h2{
    border-bottom: 2px solid #aaaaaa;
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.semester-card{
    border: 1px solid #5e2b97 !important;
    border-radius: 20px !important;
    width: 150px;
    position: absolute !important;
    bottom: 20px;
    left: 20px;
}

.semester{
    border-radius: 20px;
    margin-bottom: 0px;
}

.fa-triangle-exclamation{
    color: #dac44d;
    margin-right: 5px;
}

.semester-warning{
    font-size: 14px;
    position: absolute;
    left: 20px;
    bottom: 35px;
    background: transparent;
    color: #dac44d;
}

.fa-circle-info{
    color: #0a7abf;
    margin-right: 5px;
}

.practical-course-info{
    font-size: 14px;
    color: #0a7abf;
    background: transparent;
    text-align: left;
    position: absolute;
    left: 20px;
    bottom: 55px;
}

.filter-dropdown{
    float: right;
}

.filter-dropdown-row{
    justify-content: end;
}