.course-card{
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 190px;
    margin-bottom: 5px;
    background-color: white;
    text-align: center;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.top-row-container{
    background: transparent;
    padding: 0 !important;
    margin: 0;
}

.top-row{
    background: transparent;
}

.col{
    background: transparent;
}

.module-name{
    background: transparent;
    font-size: 23px;
    position: relative;
    bottom: 10px;
}

.score{
    text-align: start;
    margin-left: 0.5vw;
    background: transparent;
    font-size: 16px;
    font-weight: bolder;
}

.lp{
    text-align: end;
    margin-right: 0.5vw;
    background: transparent;
    font-size: 16px;
    font-weight: bolder;
}

.recommendations-container{
    margin-left: 5vw !important;
    width: 90% !important;
}


.home-button-recommendations{
    font-size: 20px;
    cursor: pointer;
    border-radius: 7px;
}

.fa-solid{
    color:whitesmoke;
    background: transparent;
}

.top-button-row {
    margin-top: 10px;
}

.recommendations-h1{
    border-bottom: 2px solid #5e2b97;
    margin-top: 50px !important;
    margin-left: 5vw;
    margin-right: 5vw;
}

.recommendations-h2{
    border-bottom: 2px solid #aaaaaa;
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.semester-card{
    border: 1px solid #5e2b97;
    border-radius: 20px !important;
    width: 150px;
    position: absolute !important;
    bottom: 20px;
    left: 20px;
}

.semester{
    border-radius: 20px;
    margin-bottom: 0px;
}